*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #212122;
}

.conteiner-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 600px;
    border-radius: 50px;
    color: white;
    border: 1px solid rgb(25, 31, 123);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.451);
    font-family: Arial, Helvetica, sans-serif;
}

.conteudo-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.conteiner-form form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    box-sizing: border-box;
    width: 100%;
}

.conteudo-form input:nth-child(2),
.conteudo-form input:nth-child(4),
.conteudo-form input:nth-child(6){
    margin-bottom: 20px;
}

input{
    border-radius: 7px;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(88, 93, 172);
    outline: none;
    background-color: transparent;
    transition: .3s;
}

input:focus{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(25, 31, 123);
    transform: scale(1.039);

}

#enviar{
    width: 20%;
    margin-top: 50px;
    color: white;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
}

#enviar:hover{
    background-color: rgb(45, 60, 130);
    transform: scale(1.132);
}

