@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

#cabecalho{
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.607);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navegacao{
    width: 45%;
    height: 95%;
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
}

.navegacao a{
    text-decoration: none;
    color: rgb(147, 147, 147);
    margin: 0, 5px;
    padding: 10px;
}

.navegacao a:hover{
    transition: 0.5s ease;
    color: black;
}

#sousou_no_frieren{
    max-width: 90%;
    width: 60%;
}

#sololeveling{
    max-width: 90%;
    width: 70%;
}

.divpai{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
}

.parte1{
    width: 50%;
    height: 100%;
}

.parte2{
    width: 50%;
    height: 100%;
    
}

.card{
    width: 80%;
    display: flex;
    flex-direction: column;

}

.card h1{
    font: bold;
    font-size: 1.5em;
}

.card2 h1{
    font-size: 1.5em;
}


.card img{
    width: 90%;
    height: 200px;
    border-radius: 10px;
}

.card p {
    width: 85%;
    font-size: 18px;
    font-weight: 300;
}


.button{
    text-decoration: none;
    color: rgb(189, 189, 189);
}


.button:hover{
    transition: 0.5s ease;
    color: rgb(79, 143, 255);
}

footer{
    width: 100%;
    height: 35px;
    background-color:  rgba(172, 255, 179, 0.41);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 20px;
}

.sumario{
    max-width: 100%;
    width: 15%;
    padding: 10px;
    background-color: rgb(227, 230, 255);
    height: 10%;
    margin-top: 100px;
    position: relative;
    left: 100px;
}

.sumario h3{
    padding: 10px;

}

.add{
    max-width: 100%;
    width: 70%;
    margin: 10px;
    background-color: rgb(250, 250, 250);
    border-radius: 6px;
}

.add:hover{
    transition: 0.4s ease;
    background-color: rgb(255, 238, 207);
}

.titulo1 h1{
    font-size: 25px;
}