*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, rgb(122, 122, 235), rgb(198, 177, 177) );
    color: rgb(255, 255, 255);
}

.container-quiz{
    width: 500px;
    height: 600px;
    border: 1px rgb(107, 107, 247 ) solid;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px;
    box-sizing: border-box;
    justify-content: space-around;
    box-shadow: 5px 7px 10px rgb(117, 117, 216);
}

.radios{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: baseline;
}

label{
    font-size: 1.5em;

}

input[type="radio"]{
    width: 20px;
    height: 20px; 
    cursor: pointer;
}

label{
    cursor: pointer;
}

.enviar, .finalizar{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 1px rgb(107, 107, 247 ) solid;
    background: linear-gradient(to left, rgb(146, 146, 241), rgb(226, 220, 220) );
}


.finalizar{
    display: none;
}

.conteiner{
    width: 400px;
    height: 150px;
    border: 1px rgb(100, 100, 254) solid;
    border-radius: 25px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-align: center;
}

